@mixin container-box($colour) {
  border: 1px solid $colour;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

[v-cloak] {
  display: none
}

body{
  font-family: 'Nunito Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #efefef
}

h1 {
  background-color: $main_colour;
  color: #fff;
  margin-top: 0;
  padding: 10px 20px;
  font-family: arial;
}

@media screen and (min-width: 960px) {
  body {
    max-width: 918px;
    margin: 50px auto 20px;
    @include container-box(#999);
    box-shadow: 0 0 10px 1px #999;
  }
}

.content {
  padding: 0 20px 20px;
}

.content-footer {
  @include container-box($main_colour);
  padding: 10px;
  margin-top: 20px;
  text-align: center;
  background-color:lighten($main_colour,30%);
}

p {
  text-align: center;
  font-family: 'Nunito Sans', sans-serif;
  text-decoration:underline;;
  }

.votes {
  float:right;
  font-size: 35px;
  position: relative;
  right: 25px;
  bottom: 5px;
}

#button {
  position:relative;
  float: right;
  right: auto;
}
