ul {
  margin: 0;
  padding: 0;
  list-style-type:none;
}

ul li {
  border: 1px solid $main_colour;
  border-bottom-width: 0;
  padding: 18px;
  &:last-child {
    border-bottom-width: 1px;
  }

  &:hover {
    background-color: lighten($main_colour,5%);
  }

  h3 {
    margin-top: 0;
  }
}
